@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

.navBarWrapper{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.navBarWrapper{
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 0px 30px #ddddd3;
  transition: .5s;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
}

.logoWrapper{
  display: flex;
  align-items: center;
}

.logoIcon{
  height: 40px;
  padding: 2px 0;
}

.logo{
  padding: 2px 5px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.navLink li{
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

.navLink li a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  text-aling: center;
  font-weight:bold;
  font-size: .95em;
  color: #000;
}

.link::after{
  content:'';
  display:block;
  width:0;
  transition: width .5s;
  height:3px;
  background: #000;
}

.link:hover::after{
  width: 100%;
  transition: width .5s;
}

.menuIcon{
  display:none;
 }
  
.navLink{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
 }

.menuIconWrapper{
  display:none;
}

.ocultar{
   transition: .5s;
   transform: translateY(-100%);
}

@media only screen and (max-width: 768px){
  .navLink li.active, .navLink li:hover{
    transition: .5s;
    background: #dedede;
  }
  
  .menuIconWrapper{
    display: block;
    height: 40px;
    padding: 3px 0;
    cursor: pointer;
  }
  
  .navLink{
    position: absolute;
    top: var(--option-height);
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    text-align: center;
    
    background: #dedede;
    transition: height .3s linear;
  }

  .showMe{
    /*height: calc(3 * var(--option-height));*/
    /*cada elemento es 50px*/
    height: 100vh;
    margin-top: 15px;
  }  
  
  .link::after, .link:hover::after{
    display: none;
  }
  
  .menuIconWrapper{
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 5px 0 0;
  }
  

  #menuIconWrapper::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: black;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0 10px 0 #000;
  }
  
  #menuIconWrapper.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #000;
  }

    #menuIconWrapper::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: black;
    transform: translateY(10px);
    transition: 0.2s;
  }
  
  #menuIconWrapper.active::after{
    transform: translateY(0px) rotate(-45deg);
  }
}