.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 100dvh;
  margin: 0 ;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}

.profile-img-info{
  display: flex;
  align-items: center;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
}

.profile-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.profile-info p {
  margin: 0;
  color: #666;
}

.edit-btn {
  background-color: #ddd;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  float: right;
  width: 100px;
  height: 50px;
}

.tickets-section {
  margin-top: 20px;
}

.tickets-section h3{
  color: black;
  margin-left: 30px;
}

.ticket {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 23dvh;
 
}

.ticket-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ticket-info p{
  margin: 4px;
  color: #1d1d1d;
  font-weight: 600;
}

.qr-code {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qr-code img {
  max-width: 150px;
}

.qr-code span {
  position: absolute;
  top: -23px;
  right: 1.5%;
  color: black;
}

.cancel-btn {
  background-color: #cf0d0d;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  display: block;
  text-align: center;
  width: 10%;
  right: 5%;
  position: absolute;
}

.ticket-quantity {
  font-weight: bold;
}