.container {
  background-color: white;
  padding: 0px;
  border-radius: 10px;
  height: 100dvh;
  margin: 0;
  box-sizing: border-box;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  gap: 20px;
  position: absolute;
  /* left: 25%; */
}

header ul li a{
  color: #434242;
}

header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 10dvh;
  position: relative;
  margin-top: 10dvh;
}

.profile-img-info{
  display: flex;
  align-items: center;
}

.img-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 50%;
  background-color: #0E9FE7; height: 70px;
}

.profile img {
  width: 70%;
}

.profile-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.profile-info p {
  margin: 0;
  color: #666;
}

.edit-btn, .back-btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  float: right;
  width: 75px;
  height: 30px;
}
button.edit-btn{
  background-color: #0E9FE7;
}
button.edit-btn:hover{
  background-color: #0a7ab3;
}
button.back-btn{
  background-color: #e70e0e;
}
button.back-btn:hover{
  background-color: #b61414;
  border: none;
}

.tickets-section {
  width: 100%;
  margin: 0;
  position: relative;
  margin-top: 7dvh;
  margin-bottom: 7dvh;
  text-align: center;
}

.tickets-section h3{
  color: black;
  text-align: left;
  margin-left: 10%;

}

.ticket {
  background-color: #faf7f7;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.ticket-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.ticket-info p{
  margin: 4px;
  color: #1d1d1d;
  font-weight: 600;
}

.img-ingresso{
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-ingresso img{
  width: 100%;
}

.cancel-btn {
  color: #1d1d1d;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  bottom: -30px;
  display: block;
  text-align: center;
  width: 10%;
  right: 2.5%;
  position: absolute;
}

.ticket-quantity {
  font-weight: bold;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.cancel-btn button{
  background-color: #e70e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}